@font-face {
  font-family: "Raleway";
  src: local("Raleway Thin"), local("Raleway-Thin"), url("Raleway-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("Raleway-ExtraLight.eot");
  src: local("Raleway ExtraLight"), local("Raleway-ExtraLight"),
    url("Raleway-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway Light"), local("Raleway-Light"), url("Raleway-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway Regular"), local("Raleway-Regular"),
    url("Raleway-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway Medium"), local("Raleway-Medium"),
    url("Raleway-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway SemiBold"), local("Raleway-SemiBold"),
    url("Raleway-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway Bold"), local("Raleway-Bold"), url("Raleway-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway ExtraBold"), local("Raleway-ExtraBold"),
    url("Raleway-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway Black"), local("Raleway-Black"), url("Raleway-Black.ttf");
  font-weight: 900;
  font-style: normal;
}
